<div class="grid">
	<p-confirmPopup></p-confirmPopup>
	<div class="col-12">
		<div class="mx-2 py-2">
			<h4>
				<i class="bi bi-pencil"></i>
				Gerenciar itens existentes
			</h4>
		</div>
		<div class="card">
			<p-table
				#table
				dataKey="id"
				[value]="itemService.items"
				[loading]="itemService.loading"
				[lazy]="true"
				(onLazyLoad)="itemService.loadItems($event)"
				[paginator]="true"
				[rows]="10"
				[totalRecords]="itemService.totalRecords"
				[showCurrentPageReport]="true"
				currentPageReportTemplate="{first} a {last} de {totalRecords} item(ns)"
				editMode="row"
				stateStorage="session"
				stateKey="edit-items"
				[tableStyle]="{ 'min-width': '50rem' }"
				[styleClass]="'p-datatable-sm'"
			>
				<ng-template pTemplate="header">
					<tr>
						<th pSortableColumn="nome">
							Nome <p-sortIcon field="nome"></p-sortIcon>
						</th>
						<th pSortableColumn="icone">
							<ng-template #tooltipContent>
								Selecione um ícone de sua preferência do link:
								<a
									href="https://icons.getbootstrap.com"
									target="_blank"
									rel="noopener noreferrer"
									>Bootstrap icons</a
								>, clique no ícone e copie o que está dentro de "class=".
							</ng-template>
							Icone
							<i
								class="bi bi-info-circle"
								role="button"
								[pTooltip]="tooltipContent"
								tooltipPosition="top"
								[autoHide]="false"
							></i>
							<p-sortIcon field="icone"></p-sortIcon>
						</th>
						<th pSortableColumn="ativo">
							Ativo <p-sortIcon field="ativo"></p-sortIcon>
						</th>
						<th class="text-center">Ações</th>
					</tr>
					<tr>
						<th>
							<p-columnFilter
								type="text"
								field="nome"
								matchMode="contains"
								[showMenu]="false"
								pTooltip="Quando estiver pronto, pressione 'Enter' para pesquisar!"
								tooltipPosition="top"
							>
							</p-columnFilter>
						</th>
						<th>
							<p-columnFilter
								type="text"
								field="icone"
								matchMode="contains"
								[showMenu]="false"
								pTooltip="Quando estiver pronto, pressione 'Enter' para pesquisar!"
								tooltipPosition="top"
							>
							</p-columnFilter>
						</th>
						<th>
							<p-columnFilter
								type="boolean"
								field="ativo"
								matchMode="equals"
								[showMenu]="false"
							>
							</p-columnFilter>
						</th>
						<th></th>
					</tr>
				</ng-template>
				<ng-template
					pTemplate="body"
					let-item
					let-editing="editing"
					let-ri="rowIndex"
				>
					<tr [pEditableRow]="item">
						<td>
							<p-cellEditor>
								<ng-template pTemplate="input">
									<input
										pInputText
										class="w-full"
										type="text"
										[(ngModel)]="item.nome"
										required
									/>
								</ng-template>
								<ng-template pTemplate="output">
									{{ item.nome }}
								</ng-template>
							</p-cellEditor>
						</td>
						<td>
							<p-cellEditor>
								<ng-template pTemplate="input">
									<input
										pInputText
										class="w-full"
										type="text"
										[(ngModel)]="item.icone"
										required
									/>
								</ng-template>
								<ng-template pTemplate="output">
									{{ item.icone }} | <i class="{{ item.icone }}"></i>
								</ng-template>
							</p-cellEditor>
						</td>
						<td>
							<p-cellEditor>
								<ng-template pTemplate="input">
									<p-checkbox 
										[(ngModel)]="item.ativo" 
										[binary]="true" 
										[value]="item.ativo == 1"
									>
									</p-checkbox>
								</ng-template>
								<ng-template pTemplate="output">
									<i
										class="pi"
										[ngClass]="
											item.ativo == 1
												? 'text-green-500 pi-check-circle text-success'
												: 'text-red-500 pi-times-circle text-danger'
										"
									></i>
								</ng-template>
							</p-cellEditor>
						</td>
						<td>
							<div class="flex align-items-center justify-content-center gap-2">
								<button
									*ngIf="!editing"
									pButton
									pRipple
									type="button"
									pInitEditableRow
									icon="pi pi-pencil"
									(click)="onRowEditInit(item)"
									class="p-button-rounded p-button-text mr-2"
								></button>
								<!-- <button
									*ngIf="!editing"
									pButton
									pRipple
									type="button"
									icon="pi pi-trash"
									(click)="deleteItem($event, item)"
									class="p-button-rounded p-button-text p-button-danger"
								></button> -->
								<button
									*ngIf="editing"
									pButton
									pRipple
									type="button"
									pSaveEditableRow
									icon="pi pi-check"
									(click)="onRowEditSave(item)"
									class="p-button-rounded p-button-text p-button-success mr-2"
								></button>
								<button
									*ngIf="editing"
									pButton
									pRipple
									type="button"
									pCancelEditableRow
									icon="pi pi-times"
									(click)="onRowEditCancel(item, ri)"
									class="p-button-rounded p-button-text p-button-danger"
								></button>
							</div>
						</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
	</div>
</div>
