.layout-footer {
    transition: margin-left $transitionDuration;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0rem;
    border-top: 1px solid var(--surface-border);
    background-color: var(--surface-ground);
}
