$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

// START : scss for scroll
body, * {
	scrollbar-width: thin;
	scrollbar-color: #90a4ae #cfd8dc;
}

*::-webkit-scrollbar {
	width: 1rem;
	border-radius: 2rem;
	display: none;
}

*::-webkit-scrollbar-button {
	display: none;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-track-piece
{
	background: #cfd8dc;
	border-radius: 2rem;
}

*::-webkit-scrollbar-thumb {
	background-color: #90a4ae;
	border-radius: 5rem;
	border: 3px solid #cfd8dc;
}
// END : scss for scroll

.popover,
.swal2-container,
.cdk-drag,
.cdk-drag-dragging {
	z-index: 9999999 !important;
}

.p-menu-list {
	padding-left: 0 !important;
	text-decoration: none !important;
}

a {
	text-decoration: none !important;
}

.logout:hover {
	color: red;
}

.dv-list:hover {
	cursor: pointer;
	// background-color: var(--surface-hover);
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08), 
							0px 3px 4px rgba(0, 0, 0, 0.1),
							0px 1px 4px -1px rgba(0, 0, 0, 0.1);
}

// removendo o css que eu acho feio do componente.
.filter {
  .p-accordion .p-accordion-header .p-accordion-header-link, .p-accordion .p-accordion-content {
    border: none !important;
    background: transparent !important;
  }
}

.h-full-3 {
	height: calc(100% - 3rem);
}

.h-full-10 {
	height: calc(100vh - 10.2rem);
}

.h-full-11 {
	height: calc(100vh - 11rem);
}

.h-full-12 {
	height: calc(100vh - 12rem);
}

.h-full-15 {
	height: calc(100vh - 15rem);
}

.w-min-30 {
	min-width: 100rem;
}